<div class="row">
  <div class="small-12 columns">
		<div id="logo">
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4>Adding a track</h4>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div id="file-upload">
			<form action="/" method="post" enctype="multipart/form-data" name="track" id="new-track">
				Title: <input type="text" name="title" autocomplete="off" id="title">
				Select track to upload:
				<input type="file" name="tune" id="fileToUpload">
		    <input type="submit" value="Add Track" name="submit">
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4>All tracks</h4>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
			<% @tracks.each do |track| %>
				<li id="artist-track-list"><h5><%= track.title %></h5>
				<a href='/artist/<%= track.id %>'>Delete Track</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4>Adding a gig</h4>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div id="new-gig">
			<form action="/gigs" method="post">
				Date: <input type="text" name="date" autocomplete="off">
				Venue: <input type="text" name="venue" autocomplete="off">
				URL: <input type="text" name="url" autocomplete="off">
				<input type="submit" value="Add Gig">
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h4>All gigs</h4>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
			<% @gigs.each do |gig| %>
				<li id="artist-gig-list">
					<p><strong><%= gig.venue %></strong>        <%= gig.date %></p>
					<a href='/artist/gig/<%= gig.id %>'>Delete Gig</a>
				</li>
			<% end %>
		</ul>